.employee-link:hover {
    text-decoration: underline;
}

.title-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.add-link {
    text-decoration: none;
}

.add {
    margin-right: 6px;
    text-decoration: none;
}

.add-btn:hover {
    text-decoration: underline;
}

.edit {
    margin-left: 1.5em;
    margin-bottom: .3em;
}